.spotifyPlayer {
  background-color: #000000;
  display: flex;
  padding: 0.5% 1%;
  margin: 0;
  height: 13vh;
  box-sizing: border-box;
}

#playerSongInfo {
  display: flex;
  margin-block: auto;
}

#playerSongInfo div {
  overflow: hidden;
  width: 100%;
}

#playerAlbumArt {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  margin-right: 15px;
}

#playerSongTitle {
  color: white;
  margin-block: auto;
  margin-block: 0;
  max-width: 30ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#playerSongTitle:hover {
  color: white;
  margin-block: auto;
  margin-block: 0;
  max-width: 30ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* #playerSongTitle:hover {
  white-space: calc();
  overflow: auto;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

#playerSongAlbum {
  color: rgb(150, 145, 145);
  font-size: smaller;
  margin-block: 0;
  max-width: 25ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.playerControls {
  display: inline-block;
  justify-content: center;
  box-sizing: border-box;
  margin-block: auto;
}

.controlButtonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5%;
}

.controlButton {
  background-color: #000000;
  color: grey;
  border: none;
  font-weight: 100;
  font-size: larger;
  margin-inline: 2%;
}

.controlButton {
  color: grey;
}

.controlButton:hover {
  color: white;
}

.controlButton .fa-play {
  color: black;
  background-color: white;
}

.progressBar {
  background-color: #555;
  height: 3px;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}

.progress {
  background-color: #ffffff;
  height: 100%;
  width: 30%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

#playPause {
  background-color: white;
  color: #000000;
  font-size: 16px;
  padding-left: 35%;
  padding-right: auto;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
}

#playPause:hover {
  color: black;
}

#playPauseDiv:hover {
  transform: scale(1.1);
}
.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-container .bar {
  position: absolute;
  z-index: 1;
  margin-block: auto;
  width: 40%;
  height: 3px;
  border-radius: 5px;
  background-color: grey;
  overflow: hidden;
}

.slider-container .bar .fill {
  display: block;
  width: 40%;
  height: 100%;
  background-color: white;
}

.slider-container:hover .bar .fill {
  background-color: green;
}

.slider-container .slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  opacity: 0;
}
.slider-container .slider::-webkit-slider-thumb:hover {
  background-color: green;
  opacity: 1;
}
.slider-container .slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(2, 248, 63, 0.1);
}
