@import url(./main.css);
.playlistDetailsWrapper {
  margin-top: 0;
  padding-top: 15%;
  background-image: linear-gradient(gray, #2c2828);
}
.playlistDetailsWrapper .image img {
  height: 80%;
  width: 100%;
  margin-top: 30px;
  box-shadow: 5px 5px 5px 5px #2c2828;
  margin-left: 5%;
}
.playlistDetailsWrapper .text {
  margin-top: 7%;
  color: white;
}
.playlistDetailsWrapper .text p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -5px;
}
.playlistDetailsWrapper .text h1 {
  font-size: 6vw;
  font-weight: 700;
}
.profile {
  display: flex;
}
hr {
  width: 95%;
  margin-left: 20px;
  border: 1px solid gray;
  margin-bottom: -3%;
  margin-top: -7px;
}
.profile .profilePicture {
  border-radius: 50%;
  height: 5%;
  width: 5%;
}
.playlistDetailsWrapper .text h1:hover {
  cursor: pointer;
}
.editDots {
  margin: 40px 0px 10px 30px;
}
.editDots #dots {
  background-color: #121212;
  border: none;
  color: lightgray;
  font-weight: 700;
}
.editDots #dots:hover {
  color: white;
  cursor: pointer;
  font-weight: 900;
}
.playlistTracksList {
  margin: 40px 0px 20px 40px;
  color: white;
}
.playlistTracksList a,
.text {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 13px;
}
.playlistTracksList a:hover {
  color: white;
  text-decoration: underline;
}
.song {
  border-radius: 5px;
  padding-bottom: 10px;
}
.song h3 {
  font-size: 1rem;
}
.song .songDetails {
  font-size: 14px;
  padding-top: 22px;
}
.song .songNumber {
  font-size: 15px;
  padding-top: 3%;
  margin-right: -4%;
}
.song img {
  height: 10%;
  width: 10%;
  border-radius: 20%;
  padding-top: 15px;
}
.song .nameAndArtists {
  padding-top: 10px;
}
.song .artistName {
  width: 90%;
}
.song .albumName {
  padding-top: 25px;
}
.song .albumName a {
  font-size: 14px;
}
.song span {
  text-align: center;
  margin-top: 22px;
  font-size: 14px;
  color: #a7a7a7;
}
.song:hover {
  background-color: #383737;
}
/* .playlistRow,
.list {
  display: flex;
}
.list img {
  height: 15%;
  width: 15%;
} */
.playlistRow .playButton {
  height: 6%;
  width: 6%;
  margin: 3% -2% 0% 3%;
}
.title {
  margin-left: 40px;
}
.title p {
  color: #a7a7a7;
  font-size: 13px;
  margin-top: 5%;
}
.title .time {
  filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(100%)
    hue-rotate(0deg);
  height: 20px;
  vertical-align: bottom;
  margin-top: 5%;
}
.title .number {
  margin-right: -4%;
}
