.playlist {
  margin: 3% 0% 0% 3%;
}
.playlist h3 {
  margin-bottom: 2%;
}
.playlist -h3 {
  display: flex;
}
.playlist .playlistTile {
  height: 100%;
  width: 15%;
  background-color: #181818;
}
.playlistTile h4 {
  font-size: 15px;
  padding: 3% 0% 3% 3%;
}
.playlistTile p {
  font-size: 13px;
  color: lightgray;
  padding: 5% 0% 5% 5%;
}
