@import url(./main.css);
.profileWrapper {
  margin-top: 0;
  padding-top: 15%;
  background-image: linear-gradient(gray, #2c2828);
}
.profileWrapper .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-top: -15px;
  box-shadow: 5px 5px 5px 5px #2c2828;
  margin-left: 5%;
}
.profileWrapper .text {
  margin-top: 15px;
  color: white;
}
.profileWrapper .text p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -5px;
}
.profileWrapper .text h1 {
  font-size: 7vw;
  font-weight: 700;
}
.profileWrapper .text h1:hover {
  cursor: pointer;
}
.editDots {
  margin: 40px 0px 20px 30px;
}
.editDots #dots {
  background-color: #191414;
  border: none;
  color: lightgray;
  font-weight: 700;
}
.editDots #dots:hover {
  color: white;
  cursor: pointer;
  font-weight: 900;
}
