@import url(./main.css);
.searchDisplay {
  padding-block: 100px;
  background-color: var(--spotify-grey);
  cursor: pointer;
}

.searchBlock {
  border: none;
  height: 35vh;
  padding-block: 1vw;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.searchBlockTile{
  height: 100%;
  border-radius: 10px;
}

.searchBlock h2 {
  font-size: 1.5rem;
}

.searchBlock img {
  width: 60%;
  height: 60%;
  bottom: -10%;
  right: -13%;
  transform: rotate(20deg);
}

.searchBlock:hover img {
  transform: scale(1.05);
}

/* search-bar */

.searchInput {
  background-color: --spotify-grey;
}
.searchInput[type="text"] {
  border: none;
  border-radius: 50px;
  background-color: #242424;
  color: #b3b3b3;
  width: 30vw; 
  height: 40px;
  padding-left: 20%;
}
.searchInput[type="text"]:onclick {
  border: 50px solid white;
  border-radius: 50px;
}
.searchInput[type="text"]:hover {
  background-color: #383737;
}
.searchInput[type="text"]::placeholder {
  color: #716f6f;
  font-weight: 400;
  font-size: 14px;
}

.searchInput {
  background: #fff url("/assets/imgs/search-icon..png") no-repeat 10px center;
}

