@import url(./main.css);
#searchList {
  width: 90%;
  margin-inline: 50px;
  background-color: var(--spotify-grey-);
  padding: 20px;
  gap: 20px;
  cursor: pointer;
}
#searchList h1 {
  padding-block: 50px;
  color: white;
}
.song {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
}

.song img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.songDetails {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: small;
}
.song:hover {
  background-color:#383737;
}

h3,
p,
span {
  margin: 0;
}
