@import url(./main.css);
#searchList {
  width: 90%;
  margin-inline: 50px;
  background-color: --spotify-grey-;
  gap: 20px;
  cursor: pointer;
}
#searchList h1 {
  color: white;
}
.song {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}
.song img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.songDetails {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.song:hover {
  background-color:#383737;
}
.song h3{
  margin: 0;
  font-size: large;
}
.song p,span {
  margin: 0;
  font-size: medium;
  color: grey;
}
.duration{
  padding-left: 10px;
}
.previewIcon:hover {
  background-color: --spotify-grey-; /* Darker green color on hover */
  transform: scale(1.15);
}
