@import url(./main.css);

.mainContainer {
  gap: 20px;
  align-items: flex-start;
}
.playlistCard {
  background-color: var(--spotify-light-grey);
}

.playlistCard:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: var(--spotify-light-grey-hover);
}

.spotifyPlayButton {
  height: 50px;
  width: 50px;
  opacity: 0;
  right: 8%;
  bottom: 10%;
  transform: translateY(15px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.01s;
}
.playlistCard:hover .spotifyPlayButton {
  opacity: 1;
  transform: translateY(0);
}

.playlistTitleElement {
  font-size: large;
}
.descriptionElement {
  color: #888;
  text-overflow: ellipsis;
}
