@import url(./main.css);
#heroSection nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  opacity: 1;
  box-sizing: border-box;
  z-index: 999;
  padding-top: 2%;
  background-color: var(--spotify-grey);
}

#heroSection nav div {
  display: flex;
}

#heroSection nav div button,
#heroSection nav div a {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #0f0909;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 20px;
  background-size: 60%;
  background-position-x: 8px;
  background-position-y: 8px;
  background-repeat: no-repeat;
}

#leftArrow {
  background-image: url(../imgs/leftarrrow.png);
}
#rightArrow {
  background-image: url(../imgs/rightarrow.png);
}
#navHomeButton {
  background-image: url(../imgs/home.svg);
}
#navSearchButton {
  background-image: url(../imgs/search.svg);
}
#loginLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1% 1%;
  border: hidden;
  width: 38px;
  height: 38px;
  background-color: #0f0909;
}

#loginLink img {
  width: 20px;
  height: 20px;
}
